.main-page {
  margin: 0 auto;
  padding: 85px 13px 175px;

  .title-with-description {
    .title {
      display: flex;
      justify-content: center;
      padding: 10px;
    }

    .description {
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 20px 8px;
      font-size: 18px;
      line-height: 1.5;
    }
  }

  .image-slider {
    margin: 30px 20px;
    .slider-container {
      width: 100%;
      height: 100%;
      img {
        padding: 2px;
      }
    }
    .images-big {
      img {
        width: 330px;
        height: 440px;
        object-fit: cover;
      }
    }
    .images-small {
      img {
        width: 335px;
        height: 200px;
        object-fit: none;
      }
    }
    .images-medium {
      img {
        width: 330px;
        height: 200px;
        object-fit: cover;
      }
    }
  }
}
